
@{
    ViewBag.Title = "Topic";
    Layout = "~/Views/Shared/_ForumLayout.cshtml";
}



<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li id="first" class="breadcrumb-item"><a href="~/Forum">Category</a></li>
        <li id="first" class="breadcrumb-item"><a href="~/Forum">Category</a></li>
        <li id="secound" class="breadcrumb-item ">@ViewBag.topic</li>
    </ol>
</nav>


<h2>@ViewBag.topic</h2>




