
@{
    ViewBag.Title = "Topic";
    Layout = "~/Views/Shared/_ForumLayout.cshtml";
}







<main class="pt-4">



    <div class="container">



       

            <div class="col-md-12 rounded shadow-lg">
               
                <div class="question-card card mb-4">
                    <!-- Card header -->
                    <div class="card-header forum-card-img-30 d-flex justify-content-between">
                        <p class="pt-2 mb-0">
                            <img src="https://secure.gravatar.com/avatar/62c9c125499e280d7f96a75e939f3046?s=96&amp;d=mm&amp;r=g" alt="" class="rounded-circle mr-2">
                            <strong><a href="https://mdbootstrap.com/profile/?id=35406" target="_blank">@ViewBag.name</a></strong>

                             @ViewBag.topic
                        </p>
                       
                    </div>
                    <!--Card content-->
                    <div class="card-body">
                        <!-- Comments -->
                        <div class="comment-card ml-5">
                            <!-- Single comment -->
                           
                            <div class="form-group mb-0">
                                <a href="#" class="btn btn-info btn-sm ml-0 comment-form-toggle show_login waves-effect waves-light">Add comment</a>
                            </div>
                        </div>
                        <!-- Comments -->
                    </div>
                </div>
                </div>
            </div>
     
   
</main>