
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="about-wrapper">
    <h3>ჩვენს შესახებ</h3>
    <div class="left-side"><img src="~/images/image_07.jpg" /> </div>
    <div class="right-side">
        <p>
            თბილისის ზოოპარკის ტერიტორიაზე ერთ პატარა ფლიგელში ფუნქციონირებდა ალექსანდრე ქანაშვილის ვეტერინარული კლინიკა. იმ წლებიდანვე ჩვენი ამოცანა იყო შეგვექმნა ევროპული სტანდარტებით აღჭურვილი ვეტერინარული კლინიკა, სადაც ყველაფერი იქნებოდა გათვალისწინებული ცხოველების და მათი მფლობელების კომფორტისთვის.
            შემდეგ იყო 2015 წლის ივნისის საბედისწერო სტიქია, რის შედეგადაც ჩვენი კლინიკა სრულიად განადგურდა.
            დღესდღეობით მიზანი მიღწეულია: ახალი ვეტერინარული კლინიკა წარმოდგენილია სრულიად განახლებული სახით.
            აქ დაგხვდებათ მაღალკვალიფიციური სერტიფიცირებული სპეციალისტები, რომლებიც რეგულარულად იმაღლებენ კვალიფიკაციას, თანამედროვე, მუდმივად განახლებადი ლიცენზირებული ვეტერინარული აპარატურული ბაზა, ხარისხიანი სერვისი და ჩვენი ოთხფეხა მეგობრების უზომო სიყვარული...
            ამასთან ერთად, მიღწეულით არ ვკმაყოფილდებით და არ ვაპირებთ ამაზე გაჩერებას... ჩვენს გეგმებში შედის კლინიკის გაფართოება, ტექნიკური ბაზის რეგულარული განახლება,, დიაგნოსტიკის და მკურნალობის ახალი მეთოდების შესწავლა და დანერგვა, ცოდნის სრულყოფა.
        </p>
    </div>
</div>