
@{
    ViewBag.Title = "Food";
}


<div class="food-wrapper">
    <h3>კვება</h3>
    <div class="inner">
        <div class="food-item">
            <div class="img-wr">
                <img src="~/images/114157_MAIN._AC_SL1500_V1562961199_.jpg"  alt="Alternate Text" />
            </div>
            <div class="item-desc">
                <p>პედიგრი მოზრდილი ძაღლებისთვის</p>
                <span>10GEL</span>
                <button>ყიდვა</button>
            </div>
        </div>
        <div class="food-item">
            <div class="img-wr">
                <img src="~/images/pedigreesmall.jpg"  alt="Alternate Text" />
            </div>
            <div class="item-desc">
                <p>პედიგრი ლეკვებისთვის</p>
                <span>10GEL</span>
                <button>ყიდვა</button>
            </div>
        </div>
        <div class="food-item">
            <div class="img-wr">
                <img src="~/images/pedigreebig.jpg"  alt="Alternate Text" />
            </div>
            <div class="item-desc">
                <p>პედიგრი გიგანტური ძაღლებისთვის</p>
                <span>10GEL</span>
                <button>ყიდვა</button>
            </div>
        </div>
        <div class="food-item">
            <div class="img-wr">
                <img src="~/images/Achiever.jpg"  alt="Alternate Text" />
            </div>
            <div class="item-desc">
                <p>ეჩივერი</p>
                <span>10GEL</span>
                <button>ყიდვა</button>
            </div>
        </div>
        <div class="food-item">
            <div class="img-wr">
                <img src="~/images/Bella.jpg"  alt="Alternate Text" />
            </div>
            <div class="item-desc">
                <p>ბელა</p>
                <span>10GEL</span>
                <button>ყიდვა</button>
            </div>
        </div>
        <div class="food-item">
            <div class="img-wr">
                <img src="~/images/carna4.jpg"  alt="Alternate Text" />
            </div>
            <div class="item-desc">
                <p>ქარნა 4</p>
                <span>10GEL</span>
                <button>ყიდვა</button>
            </div>
        </div> <div class="food-item">
            <div class="img-wr">
                <img src="~/images/tesco.jpeg"  alt="Alternate Text" />
            </div>
            <div class="item-desc">
                <p>ტესკო</p>
                <span>10GEL</span>
                <button>ყიდვა</button>
            </div>
        </div> <div class="food-item">
            <div class="img-wr">
                <img src="~/images/solid gold.jpg"  alt="Alternate Text" />
            </div>
            <div class="item-desc">
                <p>პედიგრი</p>
                <span>10GEL</span>
                <button>ყიდვა</button>
            </div>
        </div> <div class="food-item">
            <div class="img-wr">
                <img src="~/images/puppychow.png"  alt="Alternate Text" />
            </div>
            <div class="item-desc">
                <p>პედიგრი</p>
                <span>10GEL</span>
                <button>ყიდვა</button>
            </div>
        </div>
    </div>
</div>