
@{
    ViewBag.Title = "Food";
}


<div class="food-wrapper">
    <h3>კვება</h3>
    <div class="inner">
        <div class="food-item">
            <div class="img-wr">
                <img src="~/images/image_07.jpg"  alt="Alternate Text" />
            </div>
            <div class="item-desc">
                <p>პედიგრი</p>
                <span>10GEL</span>
                <button>ყიდვა</button>
            </div>
        </div>
        <div class="food-item">
            <div class="img-wr">
                <img src="~/images/image_07.jpg"  alt="Alternate Text" />
            </div>
            <div class="item-desc">
                <p>პედიგრი</p>
                <span>10GEL</span>
                <button>ყიდვა</button>
            </div>
        </div>
        <div class="food-item">
            <div class="img-wr">
                <img src="~/images/image_07.jpg"  alt="Alternate Text" />
            </div>
            <div class="item-desc">
                <p>პედიგრი</p>
                <span>10GEL</span>
                <button>ყიდვა</button>
            </div>
        </div>
        <div class="food-item">
            <div class="img-wr">
                <img src="~/images/image_07.jpg"  alt="Alternate Text" />
            </div>
            <div class="item-desc">
                <p>პედიგრი</p>
                <span>10GEL</span>
                <button>ყიდვა</button>
            </div>
        </div>
        <div class="food-item">
            <div class="img-wr">
                <img src="~/images/image_07.jpg"  alt="Alternate Text" />
            </div>
            <div class="item-desc">
                <p>პედიგრი</p>
                <span>10GEL</span>
                <button>ყიდვა</button>
            </div>
        </div>
        <div class="food-item">
            <div class="img-wr">
                <img src="~/images/image_07.jpg"  alt="Alternate Text" />
            </div>
            <div class="item-desc">
                <p>პედიგრი</p>
                <span>10GEL</span>
                <button>ყიდვა</button>
            </div>
        </div> <div class="food-item">
            <div class="img-wr">
                <img src="~/images/image_07.jpg"  alt="Alternate Text" />
            </div>
            <div class="item-desc">
                <p>პედიგრი</p>
                <span>10GEL</span>
                <button>ყიდვა</button>
            </div>
        </div> <div class="food-item">
            <div class="img-wr">
                <img src="~/images/image_07.jpg"  alt="Alternate Text" />
            </div>
            <div class="item-desc">
                <p>პედიგრი</p>
                <span>10GEL</span>
                <button>ყიდვა</button>
            </div>
        </div> <div class="food-item">
            <div class="img-wr">
                <img src="~/images/image_07.jpg"  alt="Alternate Text" />
            </div>
            <div class="item-desc">
                <p>პედიგრი</p>
                <span>10GEL</span>
                <button>ყიდვა</button>
            </div>
        </div>
    </div>
</div>