
@{
    ViewBag.Title = "Interesting";
}

<h2>Interesting</h2>



<div class="about-wrapper">
    <h3>ე.წ. სამხედრო ჟეტონს (Dog-Tag) პირველად ძაღლებს უკეთებდნენ</h3>
    <div class="left-side"><img style="height:300px; width:280px;" src="~/images/dogtag.jpg" /> </div>
    <div class="right-side">
        <p>
            იცოდით, რომ ე.წ. სამხედრო საიდენტიფიკაციო ჟეტონებს პირველად ძაღლები ატარებდნენ? 1850 წელს პირველად შემოვიდა ძაღლის ყოლის ლიცენზირების კანონი და სწორედ, პირველი ლიცენზირებული ძაღლებისთვის იყენებდნენ ამ ყელსაბამებს. სულ მალე სამხედროებმაც გადაწყვიტეს მსგავსი ჟეტონები ეტარებინათ, რათა ომში დაღუპვის შემთხვევაში, მათი სხეული პატრონებს, ამ ჟეტონზე დატანილი პირადი ინფორმაციით ამოეცნოთ.

        </p>
    </div>
</div>


<div style="margin-top:80px;" class="about-wrapper">
    <h3>პატარა ძაღლები გაცილებით დიდხანს ცოცხლობენ.</h3>
    <div class="left-side"><img style="height:300px; width:280px;" src="~/images/pataradzagli.jpg" /> </div>
    <div class="right-side">
        <p>
            ცხოველთა სამყაროში სხეულის დიდი ზომა ხანგრძლივი სიცოცხლის გარანტიაა, თუმცა ძაღლების შემთხვევაში ყველაფერი პირიქიდ არის, რადგან პატარა ზომის ძაღლები გაცილებით დიდხანს ცოცხლობენ.
        </p>
    </div>
</div>


<div style="margin-top:80px;" class="about-wrapper">
    <h3>ძაღლის ცხვირის ანაბეჭდი უნიკალურია</h3>
    <div class="left-side"><img style="height:300px; width:280px;" src="~/images/dzagliscxviri.jpg" /> </div>
    <div class="right-side">
        <p>
            არა მარტო ძაღლების, არამედ კატების ცხვირის ანაბეჭდიც განუმეორებელია, ისევე როგორც ადამიანის თითის ანაბეჭდი. დააკვირდით ახლოდან ძაღლის ცხვირს, პატარა წვრილი ხაზებია განაწილებული მათ პატარა ცხვირზე.
        </p>
    </div>
</div>



<div style="margin-top:80px;" class="about-wrapper">
    <h3>ძაღლის ცხვირის ანაბეჭდი უნიკალურია</h3>
    <div class="left-side"><img style="height:300px; width:280px;" src="~/images/dzagliscxviri.jpg" /> </div>
    <div class="right-side">
        <p>
            არა მარტო ძაღლების, არამედ კატების ცხვირის ანაბეჭდიც განუმეორებელია, ისევე როგორც ადამიანის თითის ანაბეჭდი. დააკვირდით ახლოდან ძაღლის ცხვირს, პატარა წვრილი ხაზებია განაწილებული მათ პატარა ცხვირზე.
        </p>
    </div>
</div>



<div style="margin-top:80px;" class="about-wrapper">
    <h3>ძაღლის ცხვირის ანაბეჭდი უნიკალურია</h3>
    <div class="left-side"><img style="height:300px; width:280px;" src="~/images/dzagliscxviri.jpg" /> </div>
    <div class="right-side">
        <p>
            არა მარტო ძაღლების, არამედ კატების ცხვირის ანაბეჭდიც განუმეორებელია, ისევე როგორც ადამიანის თითის ანაბეჭდი. დააკვირდით ახლოდან ძაღლის ცხვირს, პატარა წვრილი ხაზებია განაწილებული მათ პატარა ცხვირზე.
        </p>
    </div>
</div>

