
@{
    ViewBag.Title = "Training";
}



<div class="about-wrapper">
    <h3> უმთავრესი წესები ყველა პატრონისთვის!</h3>
    <div class="left-side"> <iframe width="500" height="409" src="https://www.youtube.com/embed/1oDGa2yPb2g" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>" /> </div>
    <div class="right-side">
        <p>
           

            ყველაფერს ერთად ვერ გაიგებთ და ვერ დაიმახსოვრებთ. ყველაფერს ერთად ძაღლს ან ლეკვს ვერ ასწავლით, მაგრამ დარწმუნებული იყავით, რომ შეძლებთ ნამდვილად ჭკვიანი, დამჯერი ძაღლის გაზრდას. ამისთვის ბევრი არ არის საჭირო:

            1. თვითგანვითარება. საკუთარ წესად დაადგინეთ - შეიძინოთ ცოდნა დღეში 30-წუთიანი ან 1-საათიანი წვრთნის ან ბრძანების სწავლების შესახებ. გამოცდილების შეძენასთან ერთად უკეთ მართავთ თქვენს ძაღლს.

            2. გადასაჭრელი პრობლემა არ გადადოთ ხვალისთვის. როგორც კი რაიმე არ მოგეწონებათ თქვენი ძაღლის ქცევაში, მაშინვე დაიწყეთ პრობლემის მოგვარების ძებნა. თქვენ იმ პრობლემებს აწყდებით, რასაც სხვა ძაღლების მილიონობით მოყვარული თქვენამდე, რომლებმაც მაინც შეძლეს აღეზარდათ დამჯერი ძაღლი. მათ იცოდნენ რასთან შეჯახებაც მოუწევდათ. ყველაფრის გაგება ვერ მოხერხდება. უბრალოდ, როდესაც ძაღლს არასასურველ ქცევას შეამჩნევთ, ან ბრძანების შესრულებისას მის უარს შეხვდებით - შეისწავლეთ და გამოიყენეთ მიღებული ცოდნა. მაშინ თქვენ ნელ-ნელა, გეგმაზომიერად აღზრდით ძაღლს, ის გახდება დამჯერი და მასთან ცხოვრება აღარასოდეს შეგიქმნით პრობლემას.

            
        </p>
    </div>
</div>