.about-wrapper h3 {
    text-align: center;
    color: black;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 40px;
    margin-top: 30px;
}

.about-wrapper div {
    width: 40%;
    text-align: center;
    float: left;
}

    .about-wrapper div p {
        font-size: 18px;
        color: black;
        float: left;
        text-align: left;
    }

    .about-wrapper div img {
        margin: 0 auto;
        height: 500px;
    }

.about-wrapper::after {
    content: " ";
    display: block;
    clear: both;
}


.food-wrapper {
    display: block;
    position: relative;
}

    .food-wrapper::after {
        content: "";
        display: block;
        clear: both;
    }

    .food-wrapper .inner {
        max-width: 1200px;
        margin: 0 auto;
    }

    .food-wrapper .food-item {
        float: left;
        width: 32.5%;
        margin-right: 1%;
    }

.food-item:nth-child(3n) {
    margin-right: 0 !important;
}

.food-item:nth-of-type(3n) {
    margin-right: 0 !important;
}



.about-wrapper h3 {
    text-align: center;
    color: black;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 40px;
    margin-top: 30px;
}

.about-wrapper div {
    width: 40%;
    text-align: center;
    float: left;
}

    .about-wrapper div p {
        font-size: 18px;
        color: black;
        float: left;
        text-align: left;
    }

    .about-wrapper div img {
        margin: 0 auto;
        height: 500px;
    }

.about-wrapper::after {
    content: " ";
    display: block;
    clear: both;
}


.food-wrapper {
    display: block;
    position: relative;
}

    .food-wrapper::after {
        content: "";
        display: block;
        clear: both;
    }

    .food-wrapper .inner {
        max-width: 1200px;
        margin: 0 auto;
    }

    .food-wrapper .food-item {
        float: left;
        width: 32.5%;
        margin-right: 1%;
        border: 1px solid #ccc;
        padding: 15px 0;
        margin-bottom: 20px;
    }




        .food-wrapper .food-item .img-wr {
            position: relative;
            width: 100%;
            height: 250px;
            overflow: hidden;
            border-bottom: 2px solid #ccc;
        }

            .food-wrapper .food-item .img-wr img {
                height: 100%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

    .food-wrapper .item-desc {
        padding: 10px;
    }

        .food-wrapper .item-desc p {
            color: black;
            font-size: 16px;
            margin-bottom: 5px;
            font-weight: bolder;
        }

        .food-wrapper .item-desc span {
            color: black;
            font-size: 16px;
            margin-bottom: 5px;
            display: block;
        }

        .food-wrapper .item-desc button {
            display: block;
            line-height: 0;
            width: 100%;
            background-color: #FED217;
            color: white;
            height: 35px;
            font-size: 18px;
            cursor: pointer;
        }

    .food-wrapper h3 {
        font-size: 25px;
        font-weight: bold;
        color: black;
        text-align: center;
        margin: 30px 0;
    }

.header__search {
    position:relative;

}

    .header__search #search-result {
        position: absolute;
        top: 100%;
        background: #000;
        z-index: 9;
    }


    .header__search #search-result div {
        border-bottom: 2px solid red;
    }