
<form action="Accout/Login" id="login-form" method="post" >

    <div class="form__group">
        <label>ელ.ფოსტა</label>
        <input id="LoginEmail" type="email" class="form__control">
    </div>

    <div class="form__group">
        <label>პაროლი</label>
        <input id="LoginPassword" type="password" class="form__control">
    </div>

    <div class="btns">
        <button id="LoginBtn" class="btn btn__yellow">შესვლა</button>
        <div class="btn btn__yellow" id="show-register-form">რეგისტრაცია</div>
    </div>

    <div class="auth">
        <span>ავტორიზაცია სოციალური ქსელით</span> <img src="~/images/icons/auth.png" alt="auth">
    </div>


</form>

<form action="/Account/PasswordRecover" method="get">
    <div class="form-group">
        <input class=" btn btn__yellow" type="submit" value="პაროლის აღდგენა" />

    </div>
</form>
