@model Veterinary.Models.LoginViewModel

@Html.ValidationSummary(true, "", new { @class = "text-danger" })
<form  id="login-form" method="post">

    <div class="form__group">
        <label>ელ.ფოსტა</label>
        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger", @style = "color:red" })
        <input id="LoginEmail" name="Email" type="email" class="form__control">
    </div>

    <div class="form__group">
        <label>პაროლი</label>
        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger", @style = "color:red" })
        <input id="LoginPassword" name="Password" type="password" class="form__control">
    </div>

    <div class="btns">
        <button id="LoginBtn" class="btn btn__yellow" type="submit">შესვლა</button>
        <div class="btn btn__yellow" id="show-register-form">რეგისტრაცია</div>

    </div>



    <div class="btns">


        <div id="show-register-form"> @ViewBag.error</div>

        <div class="btn btn__yellow" id="show-recovery-form">პაროლის აღდგენა</div>


    </div>
</form>