


@{    ViewBag.Title = "PasswodChange";
    Layout = "~/Views/Shared/_RecoveryLayout.cshtml";
}
<form action="/Account/PasswordChange" id="recovery-form" method="post">



    <div class="form__group">
        

        <input name="EmailToBeRecover" type="text" class="form__control" value="@ViewBag.email    " readonly="readonly">
    </div>

    <div class="form__group">
        <label style="display:inline-block; width:200px; color:black; font-size:18px; margin-right:40px">შეიყვანეთ ახალი პაროლი</label>

        <input id="PasswordRecovery" name="NewPassword" type="password" class="form__control">
    </div>

    <div class="form__group">
        <label style="display:inline-block; width:200px; color:black; font-size:18px; margin-right:40px">გაიმეორეთ პაროლი</label>

        <input id="RepeatRecoveryPassword" name="RepeatPassword" type="password" class="form__control">
    </div>
    @ViewBag.error
    <div class="btns">
        <button type="submit" class="btn btn__yellow">პაროლის აღდგენა</button>


    </div>

</form>
