
@{
    ViewBag.Title = "Index";
}

<div class="food-wrapper">
    <h3>მოვლა</h3>
    <div class="inner">
        <div class="food-item">
            <div class="img-wr">
                <img src="~/images/Basics Dog Leashe.jpg"  alt="Alternate Text" />
            </div>
            <div class="item-desc">
                <p>ნაჭრის კისრის სამაგრი</p>
                <span>14.99 ლარი</span>
                <button>ყიდვა</button>
            </div>
        </div>
        <div class="food-item">
            <div class="img-wr">
                <img src="~/images/BWOGUE Seat Belts.jpg"  alt="Alternate Text" />
            </div>
            <div class="item-desc">
                <p>ნაჭრის სამაგრი ავტომობილში</p>
                <span>24.99 ლარი</span>
                <button>ყიდვა</button>
            </div>
        </div>
        <div class="food-item">
            <div class="img-wr">
                <img src="~/images/Dog Training Collar.jpg"  alt="Alternate Text" />
            </div>
            <div class="item-desc">
                <p>გასაწვრთნელი მოწყობილობა</p>
                <span>99.99 ლარი</span>
                <button>ყიდვა</button>
            </div>
        </div>
        <div class="food-item">
            <div class="img-wr">
                <img src="~/images/GoTags.jpg" alt="Alternate Text" />
            </div>
            <div class="item-desc">
                <p>მეპატრონის ვინაობა</p>
                <span>4.99 ლარი</span>
                <button>ყიდვა</button>
            </div>
        </div>
        <div class="food-item">
            <div class="img-wr">
                <img src="~/images/juxzh Truelove.jpg" alt="Alternate Text" />
            </div>
            <div class="item-desc">
                <p>დამჭერი-სამაგრი (გულმკერდის)</p>
                <span>59.99 ლარი</span>
                <button>ყიდვა</button>
            </div>
        </div>
        <div class="food-item">
            <div class="img-wr">
                <img src="~/images/LOVESAKI Car Seat.jpg" alt="Alternate Text" />
            </div>
            <div class="item-desc">
                <p>კომფორთ ზონა ძახლებისთვის</p>
                <span>44.99 ლარი</span>
                <button>ყიდვა</button>
            </div>
        </div> <div class="food-item">
            <div class="img-wr">
                <img src="~/images/Pet Gear Carrier.jpg" alt="Alternate Text" />
            </div>
            <div class="item-desc">
                <p>ძაღლის მოსათავსებელი ჩანთა</p>
                <span>84.99 ლარი</span>
                <button>ყიდვა</button>
            </div>
        </div> <div class="food-item">
            <div class="img-wr">
                <img src="~/images/PET&CUDDLE.jpg" alt="Alternate Text" />
            </div>
            <div class="item-desc">
                <p>მიდი მიდი მოვდივარ</p>
                <span>14.99 ლარი</span>
                <button>ყიდვა</button>
            </div>
        </div> <div class="food-item">
            <div class="img-wr">
                <img src="~/images/WIGZI Dual.jpg" alt="Alternate Text" />
            </div>
            <div class="item-desc">
                <p>ორი ძაღლის შესაბმელი</p>
                <span>9.99 ლარი</span>
                <button>ყიდვა</button>
            </div>
        </div>
    </div>
</div>