
@{
    ViewBag.Title = "Index";
}

<div class="food-wrapper">
    <h3>მოვლა</h3>
    <div class="inner">
        <div class="food-item">
            <div class="img-wr">
                <img src="~/images/image_07.jpg"  alt="Alternate Text" />
            </div>
            <div class="item-desc">
                <p>რეზინის კისრის სამაგრი</p>
                <span>15GEL</span>
                <button>ყიდვა</button>
            </div>
        </div>
        <div class="food-item">
            <div class="img-wr">
                <img src="~/images/image_07.jpg"  alt="Alternate Text" />
            </div>
            <div class="item-desc">
                <p>ტყავის კისრის სამაგრი</p>
                <span>25GEL</span>
                <button>ყიდვა</button>
            </div>
        </div>
        <div class="food-item">
            <div class="img-wr">
                <img src="~/images/image_07.jpg"  alt="Alternate Text" />
            </div>
            <div class="item-desc">
                <p>თბილი სამოსი</p>
                <span>10GEL</span>
                <button>ყიდვა</button>
            </div>
        </div>
        <div class="food-item">
            <div class="img-wr">
                <img src="~/images/image_07.jpg" alt="Alternate Text" />
            </div>
            <div class="item-desc">
                <p>ჰუდი</p>
                <span>10GEL</span>
                <button>ყიდვა</button>
            </div>
        </div>
        <div class="food-item">
            <div class="img-wr">
                <img src="~/images/image_07.jpg" alt="Alternate Text" />
            </div>
            <div class="item-desc">
                <p>დუსტი</p>
                <span>10GEL</span>
                <button>ყიდვა</button>
            </div>
        </div>
        <div class="food-item">
            <div class="img-wr">
                <img src="~/images/image_07.jpg" alt="Alternate Text" />
            </div>
            <div class="item-desc">
                <p>რწყილებისგან დამცავი ყელსაბამი</p>
                <span>15GEL</span>
                <button>ყიდვა</button>
            </div>
        </div> <div class="food-item">
            <div class="img-wr">
                <img src="~/images/image_07.jpg" alt="Alternate Text" />
            </div>
            <div class="item-desc">
                <p>ბეწვის მოვლის საშუალება</p>
                <span>11GEL</span>
                <button>ყიდვა</button>
            </div>
        </div> <div class="food-item">
            <div class="img-wr">
                <img src="~/images/image_07.jpg" alt="Alternate Text" />
            </div>
            <div class="item-desc">
                <p>კისრის სამაგრი თოკი</p>
                <span>10GEL</span>
                <button>ყიდვა</button>
            </div>
        </div> <div class="food-item">
            <div class="img-wr">
                <img src="~/images/image_07.jpg" alt="Alternate Text" />
            </div>
            <div class="item-desc">
                <p>კისრის სამაგრი თოკი</p>
                <span>10GEL</span>
                <button>ყიდვა</button>
            </div>
        </div>
    </div>
</div>