<!-- slider -->
<div class="banner__slider">
    <div class="news__slider">
        <div class="slider__item">
            <div class="slider__item-img" style="background-image: url('@Url.Content("~/images/img.jpg")')"></div>
            <h2 class="slider__item-title">რჩევები მოვლაზე</h2>
        </div>

        <div class="slider__item">
            <div class="slider__item-img" style="background-image: url('@Url.Content("~/images/img.jpg")')"></div>
            <h2 class="slider__item-title">რჩევები მოვლაზე</h2>
        </div>

        <div class="slider__item">
            <div class="slider__item-img" style="background-image: url('@Url.Content("~/images/img.jpg")')"></div>
            <h2 class="slider__item-title">რჩევები მოვლაზე</h2>
        </div>

        <div class="slider__item">
            <div class="slider__item-img" style="background-image: url('@Url.Content("~/images/img.jpg")')"></div>
            <h2 class="slider__item-title">რჩევები მოვლაზე</h2>
        </div>
    </div>
</div>
